.footer-container {
    background-color: royalblue;
    color: white;
    padding: 20px 40px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    gap: 15px;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright {
    font-size: 14px;
    text-align: center;
    flex-grow: 1;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social a {
    color: #ffffff;
    font-size: 20px;
  }
  
  .footer-social a:hover {
    color: #007bff;
  }
  