.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .icon-link-hover {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navbar .icon-link-hover:hover {
    color: #ffcccb;
  }
  
  .navbar-toggler {
    border: none;
  }
  